:root {
  --dsw-alias-label-primary-foreground: #ffffff;
  --dsw-alias-bg-base: #f4f4f6;
  --dsw-alias-bg-layer-1: #ffffff;
  --dsw-alias-bg-layer-2: #ffffff;
  --dsw-alias-bg-layer-3: #fafafc;
  --dsw-alias-bg-module-platform: #ededf0;
  --dsw-alias-bg-overlay: #ffffff;
  --dsw-specific-input-major: #ffffff;
  --dsw-specific-tip: #ffffff;
  --dsw-alias-border-l1: rgba(0, 0, 0, 0.08);
  --dsw-alias-border-l2: rgba(0, 0, 0, 0.14);
  --dsw-alias-label-primary: #1c1c1e;
  --dsw-alias-label-secondary: #6e6e73;
  --dsw-alias-label-tertiary: #86868b;
  --dsw-alias-brand-primary: #0071e3;
  --dsw-specific-bubble: #ffffff;
  --dsw-specific-bubble-highlight: rgba(0, 113, 227, 0.08);
  --dsw-specific-selector: rgba(0, 0, 0, 0.04);
  --dsw-alias-brand-text: #ffffff;
  --dsw-alias-button-primary-hover: #3395ff;
  --dsw-alias-button-primary-dimmed: rgba(0, 113, 227, 0.12);
  --dsw-alias-state-business-primary: #0071e3;
  --dsw-alias-state-business-tertiary: rgba(0, 113, 227, 0.12);
  --dsw-alias-interactive-bg-hover: rgba(0, 113, 227, 0.10);
  --dsw-alias-interactive-bg-active: rgba(0, 113, 227, 0.16);
  --dsw-alias-markdown-code-block: #f2f2f4;
  --dsw-alias-markdown-inline-code: rgba(0, 113, 227, 0.10);
  --dsw-specific-sidebar-fill: #f4f4f6;
  --dsw-specific-sidebar-nav-item-active: #e4e4e8;
  --dsw-specific-sidebar-nav-item-hover: rgba(0, 0, 0, 0.04);
  --dsw-alias-scrollbar-bg-l1: #d1d1d6;
  --dsw-alias-scrollbar-bg-l2: #c0c0c6;
  --dsw-alias-scrollbar-hover-l1: #a6a6ad;
  --dsw-alias-scrollbar-hover-l2: #a6a6ad;
}
