:root {
  --dsw-alias-bg-base: #0b0b0e;
  --dsw-alias-bg-layer-1: rgba(255, 255, 255, 0.04);
  --dsw-alias-bg-layer-2: rgba(22, 22, 28, 0.85);
  --dsw-alias-bg-layer-3: #181820;
  --dsw-alias-bg-module-platform: #11111a;
  --dsw-alias-bg-overlay: rgba(20, 20, 25, 0.86);
  --dsw-specific-input-major: rgba(255, 255, 255, 0.08);
  --dsw-specific-tip: rgba(26, 26, 32, 0.9);
  --dsw-alias-border-l1: rgba(255, 255, 255, 0.06);
  --dsw-alias-border-l2: rgba(255, 255, 255, 0.12);
  --dsw-alias-label-primary: #f2f2f6;
  --dsw-alias-label-secondary: #a4a4b2;
  --dsw-alias-label-tertiary: #787884;
  --dsw-alias-brand-primary: #7c8cff;
  --dsw-specific-bubble: rgba(30, 30, 38, 0.9);
  --dsw-specific-bubble-highlight: rgba(124, 140, 255, 0.14);
  --dsw-specific-selector: rgba(255, 255, 255, 0.10);
  --dsw-alias-brand-text: #05050f;
  --dsw-alias-button-primary-hover: #93a1ff;
  --dsw-alias-button-primary-dimmed: rgba(124, 140, 255, 0.14);
  --dsw-alias-state-business-primary: #7c8cff;
  --dsw-alias-state-business-tertiary: rgba(124, 140, 255, 0.14);
  --dsw-alias-interactive-bg-hover: rgba(124, 140, 255, 0.12);
  --dsw-alias-interactive-bg-active: rgba(124, 140, 255, 0.20);
  --dsw-alias-markdown-code-block: rgba(0, 0, 0, 0.4);
  --dsw-alias-markdown-inline-code: rgba(255, 255, 255, 0.085);
  --dsw-specific-sidebar-fill: rgba(11, 11, 14, 0.92);
  --dsw-specific-sidebar-nav-item-active: rgba(255, 255, 255, 0.085);
  --dsw-specific-sidebar-nav-item-hover: rgba(255, 255, 255, 0.045);
  --dsw-alias-scrollbar-bg-l1: rgba(255, 255, 255, 0.085);
  --dsw-alias-scrollbar-bg-l2: rgba(255, 255, 255, 0.13);
  --dsw-alias-scrollbar-hover-l1: rgba(255, 255, 255, 0.2);
  --dsw-alias-scrollbar-hover-l2: rgba(255, 255, 255, 0.2);
}
